@use '../../../../styles/variables';

.Title {
    grid-area: title;
    color: variables.$body-p-span-text-colour;
    padding: 1rem;
}

.Author {
    grid-area: author;
    background-color: variables.$light-purple;
    color: #ffffff;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.Content {
    grid-area: content;
    margin: auto;
}

.NewsFeedArticle {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
    margin: 2rem auto;
    width: 80%;

    a,
    a:visited, a:link, a:active {
        display: grid;
        grid-template-rows: 4fr 1fr 4fr;
        grid-template-areas:
            "title"
            "author"
            "content";
        text-decoration: none;
        color: variables.$body-p-span-text-colour;
    }

    a:hover {
        box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.75);
    }

    span {
        min-height: 100%;
        display: flex;
        align-items: center;
        padding: 0 2rem;
    }
}

@media (min-width: variables.$medium-device-size) {
    $border: 1px solid #ccc;

    .Title {
        border-bottom: $border;
    }

    .Author {
        margin: auto;
    }

    .Content {
        border-left: $border;
        height: 100%;
    }

    .NewsFeedArticle {
        a,
        a:visited, a:link, a:active {
            grid-template-columns: 2fr 5fr;
            grid-template-rows: 1fr 2fr;
            grid-template-areas: 
                "title title"
                "author content";
        }
    }
}