@use '../../styles/variables';

.Header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: variables.$bt-purple;
    padding: 2rem;
    color: variables.$header-footer-text-colour;

    img {
        margin: auto;
        height: 8em;
    }

    h1 {
        display: flex;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
    }
}

@media (min-width: variables.$medium-device-size) {
    .Header {
        grid-template-rows: auto;
        grid-template-columns: 1fr 3fr 1fr;
    }
}

